<div class="container">
    <div class="rgpd">
        <h3>RGPD</h3>
        <p>Ce site respecte votre vie privée et est conforme au Règlement général sur la protection des données. Nous utilisons des cookies pour améliorer votre expérience utilisateur et pour analyser le trafic du site.</p>
        <p>Pour plus d'informations sur la façon dont nous traitons vos données personnelles et sur vos droits en vertu du RGPD, veuillez consulter notre <a href="#">politique de confidentialité</a>.</p>
    </div>
</div> 