<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sushy-fast</title>
    <link rel="stylesheet" href="header.component.css">
</head>
<body>
    <div class="container">
        <header>
            <h1 class="titre">sushy-fast</h1>
            <nav>
                <li><a href="router-outlet">comande</a></li>
                <li><a href="/panier">Panier</a></li>
            </nav>
        </header>
    </div>
</body>
</html>